<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstorageds;AccountKey=T8KMfopNj7t/3yF/xLD9VcrcexDDXAAX8UlBduUiKCqtJa7CgIGkEkIqlRahrgj+0yI+R/BWqwCZScOZW6Sn9w==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>